<footer class="w100 h50p bg-c2 d-flex flex-row align-center">

    <div class="grow-2 d-flex justify-spacee">
        <span class="separator1 separator">|</span>
        <a class="liensfooter1 text-nodeco c3" href="">Feedback</a>
        <span class="separator2 separator">|</span>
        <a class="liensfooter2 text-nodeco c3" href="">Conditions</a>
        <span class="separator3 separator">|</span>
        <a class="liensfooter3 text-nodeco c3" href="">Mentions</a>
        <span class="separator4 separator">|</span>
    </div>

    <div class="grow-1 d-flex justify-spacee">            
        <i class="fab fa-facebook-square c3"></i>
        <i class="fab fa-twitter-square c3"></i>
        <i class="fab fa-linkedin c3"></i>
    </div>

</footer>

<script src="./assets/js/jquery-3.3.1.min.js"></script>
<script src="./assets/js/app.js"></script>
