<header class="w100 h150p bg-c3 d-flex flex-row">
    <div class="min-w200p h100 p20 bg-c2">
        <a href="#" class="text-nodeco c0"><img src="./assets/img/logo-livre2.png" alt="logo" class="img-responsive"></a>
    </div>

    <div class="grow-1 d-flex justify-center align-center">
        <h1 class='fs30'><a href="#" class="text-nodeco c0 ff2">The Movies' Book</a></h1>
    </div>

</header>