<!DOCTYPE html>
<html lang="fr">

<head>
    <base href="http://annuaire.clementinelybliamay.fr/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./assets/css/style.css">
    <title>{% block title 'Annuaire Ciné' %}</title>
</head>

<body>

    {% include 'Layout/header.html.twig' %}

    <div class="w100 grow-1 d-flex flex-row">
        {% include 'Layout/nav.html.twig' %}
   
        {% block content %}
        {% endblock %}

    </div>

    {% include 'Layout/footer.html.twig' %}


</body>
</html>