{% extends 'Layout/layout.html.twig' %}

{% block title "The Movies' Book" %}

{% block content %}

<main class="grow-1 bg-c1 d-flex justify-center align-center ff1">

        <div class="w75 d-flex flex-column">
                <p class="text-center m10">
                        Bienvenue sur The Movie's Book, </br>
                        un annuaire de films choisis par les stagiaires de ma formation,
                        classés par genre.
                </p>

                <p class="text-center m10">
                        Pour naviguer, veuillez utiliser le menu dépliant à gauche et sélectionner le genre de films désiré.
                </p>
        </div>
</main>
    
{% endblock %}
